.wrapper {
  display: flex;
  align-items: center;
  transition: 0.2s;

  &:hover {
    opacity: 0.8;
  }
}

.logoImg {
  margin-right: 14px;
  width: 43px;
  height: 43px;
}

.logoText {
  width: 114px;
  height: 26px;
}
